.pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #62bb50;
}

.fire {
    background-color: #ff6a1a;
}

.water {
    background-color: #5496d9;
}

.electric {
    background-color: #f7d02c;
}

.ice {
    background-color: #8adbf0;
}

.ground {
    background-color: #d8b755;
}

.flying {
    background-color: #a898f0;
}

.poison {
    background-color: #9f449f;
}

.fighting {
    background-color: #d03028;
}

.psychic {
    background-color: #ff6699;
}

.dark {
    background-color: #5a4758;
}

.rock {
    background-color: #bda61e;
}

.bug {
    background-color: #a6b91a;
}

.ghost {
    background-color: #5f497a;
}

.steel {
    background-color: #bbb9d3;
}

.dragon {
    background-color: #6a34c6;
}

.fairy {
    background-color: #f6a3c5;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.3rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #fff;
    width: 9.375rem;
}

.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: 0.625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 0.25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    font-size: 0.725rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;       
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    border: 2px solid #fff;
    background-color: #000;
    color: #fff;
    width: 160px;
    border-radius: 2rem;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #222;
}
